* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

header {
    /* border: 2px solid blue; */
    background-image: url(images/herobg.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    padding: 50px 100px;
}

nav {
    /* border: 2px solid red; */
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
}

nav img:first-child {
    /* border: 2px solid red; */
    object-fit: contain;
}

.links {
    display: flex;
    align-items: center;
    gap: 40px;
}

.links a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
}

.links a:first-child {
    /* border: 2px solid red; */
    color: #FFB628;
}

.nav-search {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
}

.nav-search input {
    height: 5vh;
    padding: 0px 150px 0px 15px;
    border-radius: 100px;
    border: none;
    background-color: #C2B7BF;
}

input::placeholder {
    color: #fff;
    font-size: 1rem;
}

.nav-search img {
    position: absolute;
    right: 10px;
    top: 5px;
}

nav a:last-child {
    /* border: 2px solid red; */
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    font-size: 1.5rem;
    background-color: #FFB628;

}